<!DOCTYPE html>
<html lang="en">

<head>
	<head>
		<meta charset="utf-8">
		<title>South House Library</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--font-->
		<link href="//fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
		<!--skeleton css-->
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/normalize.css') }}">
		<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/skeleton.css') }}">
		<link rel="icon" type="image/png" href= "{{ url_for('static',filename='images/favicon.png') }}">
		<!--js-->
		<script src="{{ url_for('static',filename='js/sorttable.js') }}"></script>
	</head>
	<body>
		<div class="container">
		{% block content %}{% endblock %}
		</div>
	<body>
</html>
