{% macro makeBookTable(bookRecords) -%}

	<table class="u-full-width, sortable">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Book ID</th>
				<th>Isbn</th>
			</tr>
		</thead>

		<tbody>
			{% for bookRecord in bookRecords %}
			<tr>
				<td>{{bookRecord.fullTitle}}</td>
				<td>
					{% for name in bookRecord.authorNm %}
						<a href="/set_lastname/{{name}}">{{ name }}</a>
					{% endfor %}
				</td>
				<td>{{bookRecord.bookId}}</td>
				<td>{{bookRecord.isbn}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{%- endmacro %}