{% extends "base.html" %}

{% block content %}
<div class="row">

	<div class="one-half column">
		<h5>Select Books to Add:</h5>
		<form action="/manual_books_add" method="get">
			{% for book in gBooks %}
			<input type="checkbox" selected="selected">{{book['title']}} - {{book['authors']}}<br />
			{% endfor %}
			<input type="submit" value="Add Selected Books" />
		</form>
	</div>

	<div class="one-half column">
		<h5>Authors already in DB:</h5>
		{% for auth in allAuths %}
			{{auth}}<br />
		{% endfor %}
	</div>
</div>

<div class="row">
	<h5>Debug Log:</h5>
	<small>{{debugLog}}</small>
</div>

{% endblock %}