{% extends "base.html" %}
{% import 'book_table.html' as bookTable %}

{% block content %}

	<h5>Newly added books:</h5>
	{{ bookTable.makeBookTable(newBooks) }}

	<h5>Books that don't need to be added:</h5>
	{{ bookTable.makeBookTable(oldBooks) }}

	<h5>Books not found in openlibrary.org:</h5>
	{% for item in noBooks %}
	<p>{{item}}</p>
	{% endfor %}

	<h5>Books needing Manual Input (Google Books API):</h5>
	<form action="/manual_add" method="get">
		<input type="hidden" value="test123" name="testdata">
		<input type="submit" value="Go to Manual Input">
	</form>
	{{ bookTable.makeBookTable(googleBooks) }}	

	<h5>Debug log:</h5>
	{% for item in debugList %}
	<p>{{item}}</p>
	{% endfor %}

{% endblock %}